.vimrc
.bash_aliases
.bashrc
.zshrc
UpSys
backUp.sh
create_user.sh
drivermaker.sh
duw
hkr.sh
kali
latest.tar.gz
login_mac
mkcp
mksh
project
ram
report.sh
Fira Mono Regular Nerd Font Complete.otf
Fura Mono Regular Nerd Font Complete.otf
install_Oh
scrap.sh
sedCheatSheet
todo
typo
wordy.sh
wp
env_variables.sh
